* text=auto eol=lf

# image
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.bmp binary
*.webp binary
*.tiff binary
*.exif binary
*.ico binary
*.icns binary

# music
*.3gp binary
*.aa binary
*.aac binary
*.aax binary
*.act binary
*.aiff binary
*.amr binary
*.ape binary
*.au binary
*.awb binary
*.dct binary
*.dss binary
*.dvf binary
*.flac binary
*.gsm binary
*.ikla binary
*.ivs binary
*.m4a binary
*.m4b binary
*.m4p binary
*.mmf binary
*.mp3 binary
*.mpc binary
*.msv binary
*.ogg binary
*.opus binary
*.ra binary
*.raw binary
*.sln binary
*.tta binary
*.vox binary
*.wav binary
*.wma binary
*.wv binary
*.webm binary

# video
*.webm binary
*.mkv binary
*.flv binary
*.flv binary
*.vob binary
*.ogv binary
*.drc binary
*.gif binary
*.gifv binary
*.mng binary
*.avi binary
*.mov binary
*.wmv binary
*.yuv binary
*.rm binary
*.rmvb binary
*.asf binary
*.amv binary
*.mp4 binary
*.mpg binary
*.mpg binary
*.m4v binary
*.svi binary
*.3gp binary
*.3g2 binary
*.mxf binary
*.roq binary
*.nsv binary
*.flv binary

# compressed
*.zip binary
*.docx binary
*.xmlx binary
